<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meal Suggestions</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/all_meals">all meals</a></li>
      <% if logged_in? %>
        <li><a href="/new_meal">new meal</a></li>
        <li><a href="/profile">profile</a></li>
      <% end%>
    </ul>
  </nav>

  <div class="user_actions">
    <div class="left">
      <span>Login </span>
      <button> <a href="/login">Here</a> </button>
      <span>Sign up </span>
      <button> <a href="/new_user">Here</a> </button>
    </div>
    <% if logged_in? %>
    <div class="center">
      <span>logged in as <%= current_user.user_name %></span>
    </div>
    <div class="right">
      <span>Log out</span>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>here</button>
      </form>
    </div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>