<div class='login'>
  <h3>Login here</h3>
  <%= @message %>
  <form action="/session" method="post">
    <label for="">email</label>
    <input name="email" type="text">
    <label for="">password</label>
    <input name="password" type="password">
    <button>Go!</button>
  </form>
</div>  

 
