<h1><%= @meal.meal_name %></h1>

<div class="left_details">

  <div class="ingredients">
    INGREDIENTS:
    <p><%= @meal.ingredients %></p>
  </div>

  <div class="instructions">
    COOKING INSTRUCTIONS:
    <p><%= @meal.instructions %></p>
  </div>  

</div>
<div id="meal_image">
  <img src="<%= @meal.image_url %>" alt="">
</div>