<h3>add a meal here</h3>

<div class="new_and_edit">
  <form action="/new_meal" method="post">
      <div class="edit_deets">
        <p>Meal name</p>
        <textarea name="name" cols="30" rows="30"></textarea>
      </div>
      <div class="edit_deets">
        <p>Instructions</p>
        <textarea name="instructions" cols="30" rows="30"></textarea>
      </div>
      <div class="edit_deets">
        <p>Ingredients</p>
        <textarea name="ingredients" cols="30" rows="30"></textarea>
      </div>
      <div class="edit_deets">
        <p>Image URL</p>
        <textarea name="image_url" cols="30" rows="30"></textarea>
      </div>
    <button type="submit">Post</button>
  </form>
</div>