body {
  background-color: mistyrose;
  margin: 0 auto;
  width: 1200px;
  height: 90%;
  margin-bottom: 5%;
  font-family: helvetica;
  text-align: center;
}
nav {
  width: 100%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
/*  background-color: lightgrey;
*/  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
nav li {
  float: left;
  padding: 2px;
  width: 190px;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
}
a {
  text-decoration: none;
}
.user_actions {
  height: 30px;
  padding-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.left, .center, .right {
  text-align: center;
  display: inline-block;
  width: 33%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
form {
  display: inline;
}

h1 {
  text-align: center;
}
.meal_disp {
/*  background-color: lightgrey;
*/  width: 100%;
  height: 10%;
}
.each_meal {
  width: 30%;
  max-height: 100%;
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 1.9%;
  vertical-align: top;
  margin-bottom: 5px;
}
img {
  width: 100%;
  height:300px;
}
.left_details {
  width: 60%;
  height: 100vh;
  display: inline-block;
/*  background: lightgrey;
*/}
#meal_image {
  display: inline-block;
  width: 38%;
  height: 100vh;
  /*background: lightgrey;*/
  vertical-align: top;
}
#meal_image img {
  width: 100%;
  margin: none;
}
.edit_deets {
  display: inline-block;
}
.new_and_edit {
  text-align: center
}